* {
    margin: 0;
    
}
body {
    background-color: #e3e3e3;
}
nav {
    display: flex;
    align-items: center;
    min-height: 5vh;

}

a:any-link {
    text-decoration: none;
    color: black
}
.rightnav {
    width: 75vw;
    padding-left: 10vw;
}

.shop {
    margin-right: 10vw;
}

.bag {
    position: absolute;
    top: 10px;
    right: 30px;
    height: 30px;
}

.insidebox {
    position: absolute;
    top: 20px;
    right: 41px;
}

.belugaimg {
    position: absolute;
    top: 20%;
    right: 1%;
    height: 50vh;

}
.home {
    min-height: 58vh;
}
.shop {
    height: 83vh;
}
.checkout {
    height: 93vh;
}

.footer {
    min-height: 2vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.home {
    padding-left: 20vh;
    padding-top: 35vh;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 2vh;
}

.home button {
    height: 40px;
    width: 160px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
}   
.shop {
    display: flex;
    margin-top: 10vh;
}
.shop img{
    height: 50vh;
}
.shopinside {
    padding-top: 10vh;
}
select {
    margin-top: 5vh;
    margin-right: 5vh;
}