* {
    margin: 0;
    
}
body {
    background-color: #e3e3e3;
}
nav {
    display: flex;
    align-items: center;
    min-height: 5vh;

}

a:any-link {
    text-decoration: none;
    color: black
}
.rightnav {
    width: 75vw;
    padding-left: 10vw;
}

.shop {
    margin-right: 10vw;
}

.bag {
    position: absolute;
    top: 15px;
    right: 30px;
    height: 30px;
}

.insidebox {
    position: absolute;
    top: 26px;
    right: 41px;
}

.belugaimg {
    position: absolute;
    top: 20%;
    right: 1%;
    height: 50vh;

}
.home {
    min-height: 58vh;
}
.shop {
    height: 83vh;
}
.checkout {
    min-height: 83vh;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    gap: 10vw;
}

.footer {
    min-height: 2vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.home {
    padding-left: 20vh;
    padding-top: 35vh;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 2vh;
}

.home button {
    height: 40px;
    width: 160px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
}   
.shop {
    display: flex;
    margin-top: 10vh;
}
.shop img{
    height: 50vh;
}
.shopinside {
    padding-top: 10vh;
}
select {
    margin-top: 5vh;
    margin-right: 5vh;
}
.empty {
    height: 73vh;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.item {
    height: 200px;
    width: 800px;
    border: 2px solid black;
    margin: 20px 0;
}

.total {
    width: 170px;
    height: 200px;
    border: 2px solid black;
    margin-top : 30px;
    display: flex;
    padding: 10px;
}
.righttotal {
    text-align: end;
}
.total h3 , .total p {
    margin-bottom: 20px;
}

.righttotalfirst {
    margin-top: calc(1.17em + 21px);
}

.checkoutbutton {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    font-size: 30px;
}