* {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: lightblue;
}

a {
    text-decoration: none;
    color: black
}
.rightnav {
    width: 60vw;
}

.shop {
    margin-right: 10vw;
}